@tailwind base;
@tailwind components;
@tailwind utilities;


.background-overlay{background: rgba(0,0,0,0.6);}
.header-filter.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    background-color: #ffffff; 
    padding: 19px 0;
    left: 0;
    justify-content: center;
    gap: 40px;
}